langchain==0.3.13
chromadb==0.6.3
faiss-cpu==1.7.2
langchain_community==0.3.13
mysql-connector-python
langchain_nvidia_ai_endpoints==0.3.9
streamlit==1.39.0
langchain_openai==0.3.14
docarray==0.41.0
sentence_transformers==3.3.1
openpyxl>=3.0.7
pypdf==5.5.0
pycryptodome==3.22.0
gspread==6.0.2
oauth2client==4.1.3
